<section class="header full-width no-border">
  <div class="header__wrapper">
    <div class="header__wrapper--logo">
      <p>company name</p>
    </div>
    <div>
      <button class='button button__white'><%= t('header.contact') %></button>
    </div>
  </div>
</section>
